/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/ampliseq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Report options
    report_template   = "${projectDir}/assets/report_template.Rmd"
    report_css        = "${projectDir}/assets/nf-core_style.css"
    report_logo       = "${projectDir}/assets/nf-core-ampliseq_logo_light_long.png"

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    plaintext_email              = false
    monochrome_logs              = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
}

// Backwards compatibility for publishDir syntax
outputDir = params.outdir
workflow.output.mode = params.publish_dir_mode

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load ref_databases.config before profiles so profile-specific overrides can
// replace the default database entries cleanly.
includeConfig 'conf/ref_databases.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm64 {
        process.arch            = 'arm64'
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    emulate_amd64 {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test                          { includeConfig 'conf/test.config'                          }
    test_single                   { includeConfig 'conf/test_single.config'                   }
    test_multi                    { includeConfig 'conf/test_multi.config'                    }
    test_doubleprimers            { includeConfig 'conf/test_doubleprimers.config'            }
    test_pacbio_its               { includeConfig 'conf/test_pacbio_its.config'               }
    test_iontorrent               { includeConfig 'conf/test_iontorrent.config'               }
    test_fasta                    { includeConfig 'conf/test_fasta.config'                    }
    test_glosed                   { includeConfig 'conf/test_glosed.config'                   }
    test_failed                   { includeConfig 'conf/test_failed.config'                   }
    test_full                     { includeConfig 'conf/test_full.config'                     }
    aws_scratch                   { includeConfig 'conf/aws_scratch.config'                   }
    test_reftaxcustom             { includeConfig 'conf/test_reftaxcustom.config'             }
    test_qiimecustom              { includeConfig 'conf/test_qiimecustom.config'              }
    test_novaseq                  { includeConfig 'conf/test_novaseq.config'                  }
    test_pplace                   { includeConfig 'conf/test_pplace.config'                   }
    test_pplace_sheet             { includeConfig 'conf/test_pplace_sheet.config'             }
    test_sintax                   { includeConfig 'conf/test_sintax.config'                   }
    test_vsearch_lca              { includeConfig 'conf/test_vsearch_lca.config'              }
    test_multiregion              { includeConfig 'conf/test_multiregion.config'              }
    test_savont                   { includeConfig 'conf/test_savont.config'                   }
    test_savont_independent       { includeConfig 'conf/test_savont_independent.config'       }
    test_multidb                  { includeConfig 'conf/test_multidb.config'                  }
}

// Load nf-core custom profiles from different institutions
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/ampliseq custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/ampliseq.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,submit,module,cpus,memory,attempt,duration,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/ampliseq'
    contributors    = [
        // nf-core: Update the field with the details of the contributors to your pipeline. New with Nextflow version 24.10.0
        [
            name: 'Daniel Straub',
            affiliation: 'Quantitative Biology Center (QBiC), University of Tübingen, Germany)',
            email: '',
            github: 'd4straub',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-2553-0660'
        ],
        [
            name: 'Alexander Peltzer',
            affiliation: 'Boehringer Ingelheim Pharma GmbH and Co KG Biberach, Germany',
            email: '',
            github: 'apeltzer',
            contribution: ['author'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-6503-2180'
        ],
        [
            name: 'Daniel Lundin',
            affiliation: 'Linnaeus University, Sweden',
            email: '',
            github: 'erikrikarddaniel',
            contribution: ['maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-8779-6464'
        ],
        [
            name: 'Lokeshwaran Manoharan',
            affiliation: 'NBIS, SciLifeLab, Lund University, Sweden',
            email: 'lokeshwaran.manoharan@nbis.se',
            github: 'lokeshbio',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0001-9751-5745'
        ],
        [
            name: 'Jeanette Tångrot',
            affiliation: 'NBIS, SciLifeLab, Umeå University, Sweden',
            email: 'jeanette.tangrot@nbis.se',
            github: 'jtangrot',
            contribution: ['contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/ampliseq'
    description     = """Amplicon sequencing analysis workflow using DADA2 and QIIME2"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=26.04.0'
    version         = '2.19.0dev'
    doi             = '10.5281/zenodo.1493841,10.3389/fmicb.2020.550420'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.7.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes","igenomes_base","dada_ref_databases","qiime_ref_databases","sintax_ref_databases","vsearch_lca_ref_databases","kraken2_ref_databases","sidle_ref_databases"]
    monochromeLogs = params.monochrome_logs
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
