/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/ampliseq/'
}

// Reproducible VSEARCH LCA output order for snapshot tests (single thread).
process {
    withName: 'VSEARCH_USEARCHGLOBAL_LCA' {
        ext.args = '--gzip_decompress --top_hits_only --output_no_hits --maxaccepts 0 --maxrejects 0 --lca_cutoff 1.0 --query_cov 1.0 --n_mismatch --notrunclabels --threads 1'
    }
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
