/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests on AWS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Custom config for runs on AWS.

----------------------------------------------------------------------------------------
*/

process {
    withName:'.*QIIME2.*' {
        scratch = true
    }
    withName:'NFCORE_AMPLISEQ:AMPLISEQ:PICRUST' {
        memory = '40.GB'
    }
}
params {
    raise_filter_stacksize = false
}
