process { withName: 'FASTQC' { conda = 'modules/nf-core/fastqc/.conda-lock/linux_arm64-bd-e455e32f745abe68_1.txt' } }
process { withName: 'MULTIQC' { conda = 'modules/nf-core/multiqc/.conda-lock/linux_arm64-bd-5c84a5000a226ab5_1.txt' } }
process { withName: 'RENAME_RAW_DATA_FILES' { conda = 'modules/local/rename_raw_data_files/.conda-lock/linux_arm64-bd-1ee21000d35e67a8_1.txt' } }
