process { withName: 'DUCKDB_TABLE2PARQUET' { container = 'community.wave.seqera.io/library/duckdb-cli:1.5.5--9759cff58ac94478' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--e455e32f745abe68' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--d167b8012595a136' } }
