process { withName: 'DUCKDB_TABLE2PARQUET' { container = 'community.wave.seqera.io/library/duckdb-cli:1.5.5--9c6d18d9f687a45d' } }
process { withName: 'FASTQC' { container = 'community.wave.seqera.io/library/fastqc:0.12.1--5cb1a2fa2f18c7c2' } }
process { withName: 'MULTIQC' { container = 'community.wave.seqera.io/library/multiqc:1.34--db7c73dae76bc9e6' } }
