/*
 * --------------------------------------------------
 *  Config file for defining DSL2 per module options
 * --------------------------------------------------
 *
 *   Available keys to override module options:
 *       args           = Additional arguments appended to command in module.
 *       args2          = Second set of arguments appended to command in module (multi-tool modules).
 *       publish_dir    = Directory to publish results.
 *       publish_by_id  = Publish results in separate folders by meta.id value.
 *       publish_files  = Groovy map where key = "file_ext" and value = "directory" to publish results for that file extension
 *                        The value of "directory" is appended to the standard "publish_dir" path as defined above.
 *                        If publish_files == null (unspecified)  - All files are published.
 *                        If publish_files == false               - No files are published.
 *       suffix         = File name suffix for output files.
 *
 */

params {
    modules {
        'fastqc' {
            args          = "--quiet"
            publish_files = ['html':'']
        }
        'multiqc' {
            args          = ""
            publish_dir   = "multiqc"
        }
        'cutadapt' {
            args          = ""
            publish_files = ['log':'']
        }
        'dada2_quality' {
            args          = "5e+06"
            publish_files = ['pdf':'pdf','.args.txt':'args']
        }
        'dada2_filtntrim' {
            args          = 'maxN = 0, truncQ = 2, trimLeft = 0, trimRight = 0, minQ = 0, rm.lowcomplex = 0, orient.fwd = NULL, matchIDs = FALSE, id.sep = "\\\\s", id.field = NULL, n = 1e+05, OMP = TRUE, qualityType = "Auto"'
            publish_files = ['.args.txt':'args']
        }
        'dada2_err' {
            args          = 'nbases = 1e8, nreads = NULL, randomize = FALSE, MAX_CONSIST = 10, OMEGA_C = 0, qualityType = "Auto"'
            publish_files = ['pdf':'pdf','.args.txt':'args']
        }
        'dada2_dereplicate' {
            args          = "qualityType = \"Auto\""
            publish_files = false
        }
        'dada2_denoising' {
            // standard setting can be inspected with getDadaOpt(option = NULL)
            args          = 'selfConsist = FALSE, priors = character(0), BAND_SIZE = 16, DETECT_SINGLETONS = FALSE, GAPLESS = TRUE, GAP_PENALTY = -8, GREEDY = TRUE, HOMOPOLYMER_GAP_PENALTY = NULL, KDIST_CUTOFF = 0.42, MATCH = 5, MAX_CLUST = 0, MAX_CONSIST = 10, MIN_ABUNDANCE = 1, MIN_FOLD = 1, MIN_HAMMING = 1, MISMATCH = -4, OMEGA_A = 1e-40, OMEGA_C = 1e-40, OMEGA_P = 1e-4, PSEUDO_ABUNDANCE = Inf, PSEUDO_PREVALENCE = 2, SSE = 2, USE_KMERS = TRUE, USE_QUALS = TRUE, VECTORIZED_ALIGNMENT = TRUE'
            publish_files = ['.args.txt':'args']
        }
        'dada2_rmchimera' {
            args          = 'method="consensus", minSampleFraction = 0.9, ignoreNNegatives = 1, minFoldParentOverAbundance = 2, minParentAbundance = 8, allowOneOff = FALSE, minOneOffParentDistance = 4, maxShift = 16'
            publish_files = ['.args.txt':'args']
        }
        'dada2_stats' {
            publish_files = false
        }
        'dada2_merge' {
            publish_files = null
        }
        'dada2_taxonomy' {
            args          = 'minBoot = 50, outputBootstraps = FALSE, taxLevels = c("Kingdom", "Phylum", "Class", "Order", "Family", "Genus", "Species")'
            publish_files = ['.args.txt':'args','tsv':'']
        }
        'dada2_addspecies' {
            args          = 'allowMultiple = FALSE, n = 1e5'
            publish_files = ['.args.txt':'args','tsv':'']
        }
        'qiime2_preptax' {
            args          = ""
            publish_dir = 'qiime2/taxonomy'
            publish_files = ['-classifier.qza':'','tsv':'']
        }
        'qiime2_taxonomy' {
            args          = ""
            publish_dir = 'qiime2/taxonomy'
            publish_files = ['tsv':'']
        }
        'qiime2_inasv' {
            args          = ""
            publish_files = false
        }
        'qiime2_inseq' {
            args          = ""
            publish_files = false
        }
        'qiime2_filtertaxa' {
            args          = ""
            publish_files = false
        }
        'filter_stats' {
            args          = ""
            publish_dir = 'qiime2/abundance_tables'
            publish_files = ['tsv':'']
        }
        'qiime2_barplot' {
            args          = ""
            publish_dir = 'qiime2'
            publish_files = null
        }
        'qiime2_export_absolute' {
            args          = ""
            publish_dir = 'qiime2'
            publish_files = ['descriptive_stats.tsv':'representative_sequences','seven_number_summary.tsv':'representative_sequences','tsv':'abundance_tables','biom':'abundance_tables','rep-seq.fasta':'representative_sequences']
        }
        'qiime2_export_relasv' {
            args          = ""
            publish_dir = 'qiime2/rel_abundance_tables'
            publish_files = ['tsv':'']
        }
        'qiime2_export_reltax' {
            args          = ""
            publish_dir = 'qiime2/rel_abundance_tables'
            publish_files = ['tsv':'']
        }
        'combine_table' {
            args          = ""
            publish_dir = 'qiime2/rel_abundance_tables'
            publish_files = ['tsv':'']
        }
        'qiime2_intax' {
            args          = ""
            publish_files = false
        }
    }
}