/*
 * -----------------------------------------------------------
 *  Nextflow config file for 16S rRNA gene reference databases
 * -----------------------------------------------------------
 * Defines sources and files for reference databases
 */

params {
  genomes {
    'silva132' {
      db_zip = "https://www.arb-silva.de/fileadmin/silva_databases/qiime/Silva_132_release.zip"
      fasta = "SILVA_132_QIIME_release/rep_set/rep_set_16S_only/${params.dereplication}/silva_132_${params.dereplication}_16S.fna"
      taxonomy = "SILVA_132_QIIME_release/taxonomy/16S_only/${params.dereplication}/consensus_taxonomy_7_levels.txt"
    }
    'silva128' {
      db_zip = "https://www.arb-silva.de/fileadmin/silva_databases/qiime/Silva_128_release.tgz"
      fasta = "SILVA_128_QIIME_release/rep_set/rep_set_16S_only/${params.dereplication}/${params.dereplication}_otus_16S.fasta"
      taxonomy = "SILVA_128_QIIME_release/taxonomy/16S_only/${params.dereplication}/consensus_taxonomy_7_levels.txt"
    }
    'greengenes' {
      db_zip = "ftp://greengenes.microbio.me/greengenes_release/gg_13_5/gg_13_8_otus.tar.gz"
      fasta = "gg_13_8_otus/rep_set/${params.dereplication}_otus.fasta"
      taxonomy = "gg_13_8_otus/taxonomy/${params.dereplication}_otu_taxonomy.txt"
    }
  }
}
