/*
 * -----------------------------------------------------------
 *  Nextflow config file for reference databases
 * -----------------------------------------------------------
 * Defines sources and files for reference databases
 */

params {
  genomes {
    'gtdb=05-RS95' {
      file = [ "https://data.ace.uq.edu.au/public/gtdb/data/releases/release95/95.0/genomic_files_reps/bac120_ssu_reps_r95.tar.gz", "https://data.ace.uq.edu.au/public/gtdb/data/releases/release95/95.0/genomic_files_reps/ar122_ssu_reps_r95.tar.gz" ]
      fmtscript = "taxref_reformat_gtdb.sh"
    }
    'gtdb' {
      file = [ "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/genomic_files_reps/bac120_ssu_reps.tar.gz", "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/genomic_files_reps/ar122_ssu_reps.tar.gz" ]
      fmtscript = "taxref_reformat_gtdb.sh"
    }
    'pr2=4.13.0' {
      file = [ "https://github.com/pr2database/pr2database/releases/download/v4.13.0/pr2_version_4.13.0_16S_dada2.fasta.gz" ]
      fmtscript = "taxref_reformat_pr2.sh"
    }
    'pr2' {
      file = [ "https://github.com/pr2database/pr2database/releases/download/v4.13.0/pr2_version_4.13.0_16S_dada2.fasta.gz" ]
      fmtscript = "taxref_reformat_pr2.sh"
    }
    'rdp=18' {
      file = [ "https://zenodo.org/record/4310151/files/rdp_train_set_18.fa.gz", "https://zenodo.org/record/4310151/files/rdp_species_assignment_18.fa.gz" ]
      fmtscript = "taxref_standard.sh"
    }
    'rdp' {
      file = [ "https://zenodo.org/record/4310151/files/rdp_train_set_18.fa.gz", "https://zenodo.org/record/4310151/files/rdp_species_assignment_18.fa.gz" ]
      fmtscript = "taxref_standard.sh"
    }
    'silva=132' {
      file = [ "https://zenodo.org/record/1172783/files/silva_nr_v132_train_set.fa.gz", "https://zenodo.org/record/1172783/files/silva_species_assignment_v132.fa.gz" ] 
      fmtscript = "taxref_standard.sh"
    }
    'silva=138' {
      file = [ "https://zenodo.org/record/4587955/files/silva_nr99_v138.1_train_set.fa.gz", "https://zenodo.org/record/4587955/files/silva_species_assignment_v138.1.fa.gz" ]
      fmtscript = "taxref_standard.sh"
    }
    'silva' {
      file = [ "https://zenodo.org/record/4587955/files/silva_nr99_v138.1_train_set.fa.gz", "https://zenodo.org/record/4587955/files/silva_species_assignment_v138.1.fa.gz" ]
      fmtscript = "taxref_standard.sh"
    }
    'unite=8.2' {
      file = [ "https://files.plutof.ut.ee/public/orig/E7/28/E728E2CAB797C90A01CD271118F574B8B7D0DAEAB7E81193EB89A2AC769A0896.gz" ]
      fmtscript = "taxref_reformat_unite.sh"
    }
    'unite' {
      file = [ "https://files.plutof.ut.ee/public/orig/E7/28/E728E2CAB797C90A01CD271118F574B8B7D0DAEAB7E81193EB89A2AC769A0896.gz" ]
      fmtscript = "taxref_reformat_unite.sh"
    }
  }
}
