/*
 * -----------------------------------------------------------
 *  Nextflow config file for reference databases
 * -----------------------------------------------------------
 * Defines sources and files for reference databases
 */

params {
  genomes {
    'silva16S=132' {
      file = [ "https://www.arb-silva.de/fileadmin/silva_databases/qiime/Silva_132_release.zip" ]
      fmtscript = "make_silva.sh"
    }
    'silva18S=132' {
      file = [ "https://www.arb-silva.de/fileadmin/silva_databases/qiime/Silva_128_release.tgz" ]
      fmtscript = "make_silva18S.sh"
    }
    'silva16S=138' {
      file = [ "" ]
      fmtscript = ""
    }
    'greengenes' {
      db_zip = "ftp://greengenes.microbio.me/greengenes_release/gg_13_5/gg_13_8_otus.tar.gz"
      fasta = "gg_13_8_otus/rep_set/${params.dereplication}_otus.fasta"
      taxonomy = "gg_13_8_otus/taxonomy/${params.dereplication}_otu_taxonomy.txt"
    }
    'gtdb_reps=05-RS95' {
      file = [ "https://data.ace.uq.edu.au/public/gtdb/data/releases/release95/95.0/genomic_files_reps/bac120_ssu_reps_r95.tar.gz", "https://data.ace.uq.edu.au/public/gtdb/data/releases/release95/95.0/genomic_files_reps/ar122_ssu_reps_r95.tar.gz" ]
      fmtscript = "taxref_reformat_gtdb.sh"
    }
    'gtdb_reps=latest' {
      file = [ "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/genomic_files_reps/bac120_ssu_reps.tar.gz", "https://data.ace.uq.edu.au/public/gtdb/data/releases/latest/genomic_files_reps/ar122_ssu_reps.tar.gz" ]
      fmtscript = "taxref_reformat_gtdb.sh"
    }
    'rdp=18' {
      file = [ "https://zenodo.org/record/4310151/files/rdp_train_set_18.fa.gz", "https://zenodo.org/record/4310151/files/rdp_species_assignment_18.fa.gz" ]
      fmtscript = "taxref_standard.sh"
    }
    'unite=8' {
      file = [ "https://files.plutof.ut.ee/public/orig/85/30/853011150A25C68BC48CEBB4D6E389834AB0CA5D27099853274ADFB347D842AB.gz" ]
      fmtscript = "create_unite.py"
    }
  }
}
