/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ampliseq -profile test_pacbio_its
 */

params {
  config_profile_name = 'Test profile PacBio ITS'
  config_profile_description = 'Minimal test dataset to check pipeline function with PacBio ITS sequences'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  FW_primer = "CTTGGTCATTTAGAGGAAGTAA"
  RV_primer = "CGAAGTTTCCCTCAGGA"
  outdir = "./results_test_pacbio_its"
  input = "https://github.com/d4straub/test-datasets/raw/ampliseq/samplesheets/Samplesheet_pacbio_ITS.tsv"
  pacbio = true
  maxEE = 12
}
