/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ampliseq -profile test_doubleprimers,<docker/singularity>
 */

params {
  config_profile_name = 'Test doubleprimers profile'
  config_profile_description = 'Minimal test dataset to check pipeline function when removing double primers'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  FW_primer = "NNNNCCTAHGGGRBGCAGCAG"
  RV_primer = "GACTACHVGGGTATCTAATCC"
  double_primer = true
  classifier = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/GTGYCAGCMGCCGCGGTAA-GGACTACNVGGGTWTCTAAT-gg_13_8-85-qiime2_2019.7-classifier.qza"
  metadata = false 
  outdir = "./results"
  temp_dir = "./results/tmp_dir"
  readPaths = [
    ['testdoubleprimers-1003', ['https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/testdoubleprimers-1003_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/testdoubleprimers-1003_L001_R2_001.fastq.gz']],
    ['testdoubleprimers-1006', ['https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/testdoubleprimers-1006_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/testdoubleprimers-1006_L001_R2_001.fastq.gz']]
  ]
}
