/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_vsearch_lca,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test VSEARCH LCA profile'
    config_profile_description = 'Minimal test dataset for VSEARCH LCA taxonomy assignment'

    // Input data
    primer_fwd = "CTTGGTCATTTAGAGGAAGTAA"
    primer_rev = "TCCTGAGGGAAACTTCG"
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_pacbio_ITS.tsv"
    metadata = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Metadata_pacbio_ITS.tsv"
    sample_inference = "independent"
    sequencing_type = "pacbio"
    max_ee = 12
    cut_its = "its2"

    skip_dada_taxonomy = true
    vsearch_lca_ref_taxonomy = "unite-fungi"

    min_samples = 2
    min_frequency = 10

    skip_phyloseq = true
    skip_diversity_indices = true
    skip_alpha_rarefaction = true
    skip_barplot = true
}
