/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_novaseq,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test profile Novaseq data'
    config_profile_description = 'Minimal test dataset to check pipeline function with Novaseq data and codon filtering'

    // Input data
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_novaseq.tsv"
    illumina_novaseq = true

    // Test consensus merging
    mergepairs_strategy = "consensus"

    // Codon filter, only for the first 2 codons (because otherwise all is filtered)
    filter_codons = true
    orf_start = 1
    orf_end = 6

    // Skip steps
    skip_cutadapt = true
    skip_barrnap = true
    skip_taxonomy = true
    skip_qiime = true
}
