/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_savont,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with Savont'

    // Input data
    input = "samplesheet_nanopore.tsv" //input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/samplesheet_nanopore.tsv" // TODO
    metadata = "metadata_nanopore.tsv" //metadata = params.pipelines_testdata_base_path + "ampliseq/samplesheets/metadata_nanopore.tsv" // TODO
    nanopore = true
    skip_cutadapt = true
    sample_inference = "pooled"

    // ASV postprocessing
    filter_ssu = "bac"
    min_len_asv = 1000

    // Clean up - not needed
    min_samples = 2

    // taxonomic classification
    dada_ref_taxonomy = "gtdb=R07-RS207"

    // reduce runtime
    skip_alpha_rarefaction = true
    skip_diversity_indices = true

    // Compare to expected
    expected_sequences = "expected_sequences_abundances/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.fasta"
    expected_sequences_mismatches = 10
    expected_abundances = "expected_sequences_abundances/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.abundance.tsv"

    // restrict ANCOM analysis to higher taxonomic levels
    tax_agglom_max = 3

    // Test ANCOMBC2
    ancombc2 = true
}
