/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_coidb,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test COIDB DADA2 reference taxonomy database profile'
    config_profile_description = 'Minimal test dataset to check --dada_ref_taxonomy with COIDB'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet.tsv"

    // Custom reference taxonomy
    dada_ref_taxonomy = "coidb"
    // Don't add species
    skip_dada_addspecies = false

    // Skip downstream analysis with QIIME2
    skip_qiime = true
}
