/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_savont,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with Savont'

    // Input data
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_nanopore.tsv"
    nanopore = true

    // cutadapt
    FW_primer = "AGAGTTTGATCMTGGCTCAG" // 27F
    RV_primer = "CGGTTACCTTGTTACGACTT" // 1492R
    retain_untrimmed = true // because primers are not expected in those nanopore reads (were trimmed during demultiplexing)

    // ASV inference
    sample_inference = "pooled"

    // ASV postprocessing
    filter_ssu = "bac"
    min_len_asv = 1000

    // Clean up - not needed
    min_samples = 2

    // taxonomic classification
    dada_ref_taxonomy = "gtdb=R07-RS207"

    // reduce runtime
    skip_alpha_rarefaction = true
    skip_diversity_indices = true

    // Compare to expected
    expected_sequences = params.pipelines_testdata_base_path + "ampliseq/expected/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.fasta"
    expected_abundances = params.pipelines_testdata_base_path + "ampliseq/expected/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.abundance.tsv"
    expected_sequences_mismatches = 4

    // restrict ANCOM analysis to higher taxonomic levels
    tax_agglom_max = 3

    // Test ANCOMBC2
    ancombc2 = true
}
