/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_pacbio_its,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test profile PacBio ITS'
    config_profile_description = 'Minimal test dataset to check pipeline function with PacBio ITS sequences and options --cut_its (set to "full")'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "CTTGGTCATTTAGAGGAAGTAA"
    RV_primer = "TCCTGAGGGAAACTTCG"
    sintax_ref_taxonomy = "unite-fungi=8.2"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet_pacbio_ITS.tsv"
    metadata = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Metadata_pacbio_ITS.tsv"
    pacbio = true
    max_ee = 12
    cut_its = "full"
    // addsh = true
    skip_qiime = true
    sbdiexport = true

    // Prevent default taxonomic classification
    skip_dada_taxonomy = true
}
