/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ampliseq -profile test_pacbio_its
 */

params {
  config_profile_name = 'Test profile PacBio ITS'
  config_profile_description = 'Minimal test dataset to check pipeline function with PacBio ITS sequences'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data
  FW_primer = "CTTGGTCATTTAGAGGAAGTAA"
  RV_primer = "CGAAGTTTCCCTCAGGA"
  classifier = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/CTTGGTCATTTAGAGGAAGTAA-CGAAGTTTCCCTCAGGA-UNITE-classifier.qza"
  metadata = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/Metadata_pacbio_ITS.tsv"
  outdir = "./results"
  temp_dir = "./results/tmp_dir"
  manifest = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/Manifest_pacbio_ITS.tsv"
  single_end = true
  pacbio = true
  trunclenf = 0
  trunclenr = 0
  maxEE = 12
}
