/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_sintax,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test sintax profile'
    config_profile_description = 'Minimal test dataset to check pipeline function when using sintax for taxonomy assignment'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "CTTGGTCATTTAGAGGAAGTAA"
    RV_primer = "TCCTGAGGGAAACTTCG"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet_pacbio_ITS.tsv"
    metadata = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Metadata_pacbio_ITS.tsv"
    pacbio = true
    max_ee = 12
    cut_its = "its2"

    sintax_ref_taxonomy = "unite-fungi"
    skip_dada_taxonomy = true

    //this is to remove low abundance ASVs to reduce runtime of downstream processes
    min_samples = 2
    min_frequency = 10

    //produce average barplots
    metadata_category_barplot = "var2,var3"

    //restrict ANCOM analysis to higher taxonomic levels
    tax_agglom_max = 4

    sbdiexport = true

    qiime_adonis_formula = "var2"

    diversity_rarefaction_depth = 500
}
