/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_savont_independent,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with Savont, independent sample processing'

    // Input data
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_nanopore_v3.tsv"
    metadata = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Metadata_nanopore.tsv"
    sequencing_type = "nanopore"
    sample_inference = "independent"

    // export intermediate files
    save_intermediates = true

    // Skip all preprocessing
    skip_fastqc = true
    skip_cutadapt = true
    skip_porechop_abi = true
    skip_chopper = true

    // ASV postprocessing
    filter_ssu = "bac"

    // taxonomic classification
    dada_ref_taxonomy = "gtdb=R07-RS207"
    skip_dada_addspecies = true

    // check intermediate data output
    metadata_category_barplot = "type"

    // reduce runtime
    skip_alpha_rarefaction = true
    skip_phyloseq = true
    skip_tse = true

    // export also higher taxonomic levels
    tax_agglom_max = 2
    tax_agglom_max = 3

    // ANCOMBC2
    ancombc2 = true

    // Compare to expected
    expected_sequences = params.pipelines_testdata_base_path + "ampliseq/expected/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.fasta"
    expected_abundances = params.pipelines_testdata_base_path + "ampliseq/expected/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.ssrRNAs.unique.abundance.tsv"
    expected_sequences_mismatches = 10
    expected_sequences_merge = "observed"
    expected_profile = params.pipelines_testdata_base_path + "ampliseq/expected/D6305-D6311_ZymoBIOMICS.STD.refseq.v2.prokaryotes.profile.gtdb_R07-RS207.tsv"
}
