/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ampliseq -profile test_manifest
 */

params {
  config_profile_name = 'Test profile manifest'
  config_profile_description = 'Minimal test dataset to check pipeline function with input QIIME2 manifest file'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  FW_primer = "GTGYCAGCMGCCGCGGTAA"
  RV_primer = "GGACTACNVGGGTWTCTAAT"
  classifier = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/GTGYCAGCMGCCGCGGTAA-GGACTACNVGGGTWTCTAAT-gg_13_8-85-qiime2_2019.7-classifier.qza"
  metadata = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/Metadata_manifest.tsv"
  outdir = "./results"
  temp_dir = "./results/tmp_dir"
  input = "https://github.com/nf-core/test-datasets/raw/ampliseq/testdata/Manifest.tsv"
  dada_ref_taxonomy = "https://zenodo.org/record/4310151/files/rdp_train_set_18.fa.gz"
}
