/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test for --sintax_ref_tax_custom (user-supplied SINTAX reference database).

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_sintax_custom,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test profile for custom SINTAX reference database'
    config_profile_description = 'Minimal test using COIDB SINTAX FASTA URL as --sintax_ref_tax_custom with SINTAX-only taxonomy'

    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet.tsv"
    single_end = true

    skip_dada_taxonomy = true
    sintax_ref_tax_custom = "https://ndownloader.figshare.com/files/38787078"
    sintax_assign_taxlevels = "Kingdom,Phylum,Class,Order,Family,Genus,Species,BOLD_bin"
    dada_assign_chunksize = 250
    skip_qiime = true
}
