/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_qiimecustom,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test custom QIIME2 reference taxonomy database profile'
    config_profile_description = 'Minimal test dataset to check --qiime_ref_tax_custom'

    // Input data
    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet.tsv"

    // Custom reference taxonomy
    qiime_ref_tax_custom = params.pipelines_testdata_base_path + "ampliseq/testdata/85_greengenes.fna.gz," + params.pipelines_testdata_base_path + "ampliseq/testdata/85_greengenes.tax.gz"

    // Skip downstream analysis with QIIME2
    skip_qiime_downstream = true
    skip_dada_taxonomy = true
}
