/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_failed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test profile - failed sample'
    config_profile_description = 'Minimal test dataset to check pipeline function for failed samples'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet_failed_sample.tsv"
    metadata = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Metadata_failed_sample.tsv"
    dada_ref_tax_custom = "https://zenodo.org/record/4310151/files/rdp_train_set_18.fa.gz"
    skip_dada_addspecies = true
    cut_dada_ref_taxonomy = true
    max_len_asv = 255
    filter_ssu = "bac"
    ignore_failed_trimming = true
    ignore_empty_input_files = true
    ignore_failed_filtering = true

    //this is to remove low abundance ASVs to reduce runtime of downstream processes
    min_samples = 2
    min_frequency = 10

    // Skipping steps
    skip_fastqc = true
}
