/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/ampliseq -profile test_iontorrent
 */

params {
    config_profile_name = 'Test profile single-end ionTorrent reads'
    config_profile_description = 'Minimal test dataset to check pipeline function with single-end ionTorrent sequences'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
  
    // Input data
    FW_primer = "GTGARTCATCGARTCTTTG"
    RV_primer = "GCATATCAATAAGSSGAGGA"
    dada_ref_taxonomy = "unite-fungi"
    input = "https://github.com/nf-core/test-datasets/raw/ampliseq/samplesheets/Samplesheet_it_SE_ITS.tsv"
    iontorrent = true
    max_ee = 5
    skip_qiime = true
}
