/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

params {
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  singleEnd = false
  readPaths = [
    ['1_S103', ['https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/1_S103_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/1_S103_L001_R2_001.fastq.gz']],
    ['1a_S103', ['https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/1a_S103_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/1a_S103_L001_R2_001.fastq.gz']],
    ['2_S115', ['https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/2_S115_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/2_S115_L001_R2_001.fastq.gz']],
    ['2a_S115', ['https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/2a_S115_L001_R1_001.fastq.gz', 'https://github.com/nf-core/test-datasets/raw/rrna-ampliseq/testdata/2a_S115_L001_R2_001.fastq.gz']]
  ]
}
