/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_sintax,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test sintax profile'
    config_profile_description = 'Minimal test dataset to check pipeline function when using SINTAX for taxonomy assignment'

    // Input data
    primer_fwd = "CTTGGTCATTTAGAGGAAGTAA"
    primer_rev = "TCCTGAGGGAAACTTCG"
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_pacbio_ITS_v3.tsv"
    metadata = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Metadata_pacbio_ITS.tsv"
    sequencing_type = "pacbio"
    sample_inference = "independent"
    max_ee = 12
    cut_its = "its2"

    sintax_ref_taxonomy = "unite-fungi"
    sintax_cutoff       = 0.9
    skip_dada_taxonomy = true

    //this is to remove low abundance ASVs to reduce runtime of downstream processes
    min_samples = 2
    min_frequency = 10

    //produce average barplots
    metadata_category_barplot = "var2,var3"

    //restrict diversity/ancom metadata category selection (exercises the --metadata_category param)
    metadata_category = "var2"

    //restrict ANCOM analysis to higher taxonomic levels
    tax_agglom_max = 4
    ancom = true

    sbdiexport = true

    qiime_adonis_formula = "var2"

    diversity_rarefaction_depth = 500
}
