/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_fasta,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test fasta input profile'
    config_profile_description = 'Minimal test dataset to check pipeline function with fasta input'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input_fasta = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/testdata/ASV_seqs.fasta"
    dada_ref_taxonomy = "rdp=18"
    dada_assign_taxlevels = "K,P,C,O,F,Genus"

    filter_codons = true
    orf_end = 30
    max_len_asv = 265
    filter_ssu = "bac"

    skip_qiime = true
}
