/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test_iontorrent,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name = 'Test profile single-end ionTorrent reads'
    config_profile_description = 'Minimal test dataset to check pipeline function with single-end ionTorrent sequences'

    // Input data
    FW_primer = "GTGARTCATCGARTCTTTG"
    RV_primer = "TCCTCSSCTTATTGATATGC"
    sintax_ref_taxonomy = "unite-fungi=8.2"
    input = params.pipelines_testdata_base_path + "ampliseq/samplesheets/Samplesheet_it_SE_ITS.tsv"
    iontorrent = true
    max_ee = 5
    skip_qiime = true

    // Prevent default taxonomic classification
    skip_dada_taxonomy = true
}
