/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/ampliseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'
  
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    FW_primer = "GTGYCAGCMGCCGCGGTAA"
    RV_primer = "GGACTACNVGGGTWTCTAAT"
    input = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Samplesheet.tsv"
    metadata = "https://raw.githubusercontent.com/nf-core/test-datasets/ampliseq/samplesheets/Metadata.tsv"
    dada_ref_taxonomy = "rdp=18"
    cut_dada_ref_taxonomy = true
    qiime_ref_taxonomy = "greengenes85"

    //this is to remove low abundance ASVs to reduce runtime of downstream processes
    min_samples = 2
    min_frequency = 10

    //restrict ANCOM analysis to higher taxonomic levels
    dada_tax_agglom_max = 4
    qiime_tax_agglom_max = 4

    sbdiexport = true
}
