body {
  font-family: Calibri, helvetica, sans-serif;
  background: none transparent;
}

h1 {
  color: rgb(3, 101, 192);
  font-size: 127%;
}

.title {
  margin-right: 200px;
}

h2 {
  color: rgb(3, 101, 192);
  font-size: 121%;
}

h3 {
  font-size: 109%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}
