name: nf-core CI
# This workflow is triggered on pushes and PRs to the repository.
# It runs the pipeline with the minimal test dataset to check that it completes without any syntax errors
on: [push, pull_request]  

jobs:
  test:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        # Nextflow versions: check pipeline minimum and current latest
        nxf_ver: ['19.10.0', '']
    steps:
      - uses: actions/checkout@v1
      - name: Install Nextflow
        run: |
          export NXF_VER=${{ matrix.nxf_ver }}
          wget -qO- get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
      - name: Download and tag image
        run: |
          docker pull nfcore/ampliseq:dev
          docker tag nfcore/ampliseq:dev nfcore/ampliseq:1.1.1
      - name: Run test
        run: |
          nextflow run ${GITHUB_WORKSPACE} -profile test,docker
      - name: Run multi test
        run: | 
          nextflow run ${GITHUB_WORKSPACE} -profile test_multi,docker

